@font-face {
    font-family: "Pretendard";
    src: url("../public/font/PretendardVariable.woff2")format("woff2");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard';
}